html {
  box-sizing: border-box;
  font-family: "Roboto Mono", sans-serif;
}

body {
  background: #faf8f2;
  color: #333333;
}

.header {
  position: fixed;
  left: 2em;
  display: inline-block;
  font-family: "Roboto Mono", sans-serif;
  font-size: 0.7em;
  width: 16%;
}

.header a {
  color: #e6359f;
}

.wrapper {
  display: grid;
  margin-right: 2em;
  grid-gap: 10px;
  grid-template-columns: 2.5fr 8fr;
  grid-template-rows: auto;
  font-family: "Roboto Mono", sans-serif;
  font-size: 1em;
}

#main {
  left: 1em;
}

.footer {
  position: fixed;
  left: 2em;
  bottom: 2em;
  display: inline-block;
  font-size: 0.8em;
  font-family: "Roboto Mono", sans-serif;
}

.footerRight {
  position: fixed;
  right: 2em;
  bottom: 2em;
  display: inline-block;
  font-size: 0.8em;
  font-family: "Roboto Mono", sans-serif;
}

.footer a {
  text-decoration: none;
}

input.textRow {
  width: 100%;
  font-size: 1.5em;
  height: 2em;
  background: rgba(0, 0, 0, 0.02);
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 0.9em;
  font-family: "Roboto Mono", monospace;
  border: none;
}

span#turn {
  color: #fc4289;
  font-weight: 100;
  font-size: 0.8em;
}

button {
  background-color: gainsboro;
  height: 2em;
  top: 0.5em;
  border: none;
  font-size: 1em;
  font-family: "Roboto Mono", sans-serif;
}

#text-area {
  width: 100%;
  height: 80px;
  display: box;
  resize: none;
  background: rgba(0, 0, 0, 0.02);
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 1em;
  font-size: 1em;
  font-family: "Roboto Mono", monospace;
  border: none;
}

#loadZone {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2147483645;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  pointer-events: auto;
  background: rgba(0, 0, 0, 0.7);
}

#loadZone h2 {
  margin-top: 30px;
  display: inline-block;
  color: bisque;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@media only screen and (max-width: 600px) {
  .header {
    position: relative;
    right: 1em;
    left: 1em;
    display: inline-block;
    font-family: "Roboto Mono", sans-serif;
    font-size: 0.7em;
    width: auto;
  }

  .header a {
    color: #e6359f;
  }

  .wrapper {
    display: grid;
    margin: 1em;
    margin-top: 0;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    font-family: "Roboto Mono", sans-serif;
    font-size: 1em;
  }

  #main {
    left: 1em;
  }

  #empty {
    display: none;
  }

  .footer {
    position: relative;
    left: 2em;
    bottom: 2em;
    display: inline-block;
    font-size: 0.8em;
    font-family: "Roboto Mono", sans-serif;
    color: rgba(0, 0, 0, 0.1);
  }

  .footer a {
    text-decoration: none;
  }

  span#turn {
    color: #fc4289;
    font-weight: 100;
  }

  input.textRow {
    width: 100%;
    font-size: 1.5em;
    height: 4em;
    background: rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 0.9em;
    font-family: "Roboto Mono", monospace;
    border: none;
  }
}
