{% extends "layout.html" %}
<!-- <link rel="stylesheet" href="./static/styles.css') }}"> -->
{% block content %} {% for post in posts %} {% for l in post %}
<h2>
  <span id="turn">{{ post[l]['turn'] }} </span> {{": " + post[l]['line'] }}
</h2>
{% endfor %} {% endfor %}
<!-- <div id="startButton"></div> -->
<div id="UserInput">
  <form action="" autocomplete="off" method="post">
    <!-- <input type="text" name="type here" class="textRow" id="text-row-1" /> -->
    <textarea
      name="type me"
      id="text-area"
      placeholder='Start writing here. press "Done writing" when you finish.'
    ></textarea>
    <button type="button" id="submit" onclick="submitInput()">
      Done writing
    </button>
    <button type="button" id="switch" onclick="swicthSubmit()">switch</button>
  </form>
</div>

{% endblock content %}
