<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700"
      rel="stylesheet"
    />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href="../static/styles.css'"> -->
    {% if css %} {{link}} {% else %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/styles.css') }}"
    />
    {% endif %} {% if title %}
    <title>This - {{title}}</title>
    {% else %}
    <title>This test</title>
    {% endif %}
  </head>
  <body>
    <div class="header">
      <!-- <a href="index.html"> -->
      <h1>
        Computational <br />
        Comedy<br />
        Agent 001
      </h1>
      <!-- </a> -->
      <h2>
        Lan Zhang
        <br />
        thesis1
      </h2>
      <p>
        a conversational comedy agent finetuned with 300+ stand-up comedy
        transcripts on a simple gpt-2 model
      </p>
    </div>

    <div class="wrapper">
      <div class="item" id="empty"></div>
      <div class="item" id="main">
        {% block content %}{% endblock %}
      </div>
    </div>

    <div class="footer">
      MFA Design and Technology
      <!-- <a href="index.html">/</a> -->
    </div>

    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="{{ url_for('static', filename='write.js') }}"></script>
  </body>
</html>
